@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;200&display=swap');
.textfield{
    width:45vw;
    height:5vh;
    background-color: #111606;
    -webkit-box-shadow: inset 4px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 4px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: inset 4px 2px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10vw;
    color: #b1dd40;
    padding: 1vh 1vw;
    margin: 1vw 5vw 5vh 5vw;
    font-size: 3.5vh;
    font-weight: 200;
}
button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color:#b1dd40;
    -webkit-box-shadow: 4px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 2px 5px 0px rgba(0,0,0,0.75);
    border-radius: 50vw;
    background-color: #111606;
    width:10vh;
    height: 10vh;
    font-family: 'Manrope',sans-serif;
    font-size: 3.5vh;
    font-weight: 200;
    margin: 0.5vw;
    border: #111606;
}
.heading{
    width:100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.canvas{
    background-color: #111606;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3vw;
    width:60vw;
}
.buttons{
    height: 40vh;
}
